/* Global Styles */
body {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
    color: #FFFFFF;
}
/* Global Styles */

/* Navigation Styles */
.bg-body-tertiary {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}
.navbar-brand{
    display: inline-flex;
    align-items: center;
}

.navbar-nav {
    margin: auto;
}

.logo-text {
    font-size: x-large;
    font-weight: bold;
    margin-left: 1rem;
    text-transform: uppercase;
}
.nav-item {
    color: rgb(197, 197, 197);
    font-size: 1.25rem;
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
}
.nav-item:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: #1e2b3f;
}
.navbar-collapse {
    justify-content: flex-end;
}

.register-login-btn{
    border-radius: 1rem;
}
.close-session-btn{
    border-radius: 1rem;
}
/* Navigation Styles */

/* Footer Styles */
.footer {
    background: black;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    z-index: 5;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}
.footer-logo {
    max-width: 60%;
}
.footer-item {
    display: table;
    padding: 0.5rem;
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
.footer-copyright {
    text-align: center !important;
}
/* Footer Styles */