/* Global Styles */
body {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #595959 95%);
    color: #FFFFFF;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.user-menu{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    min-width: 160px;
    
}
.nav-item.nav-item-user-menu{
    font-size: small;
} 

.dropdown-menu.show {
    display: block;
    min-width: stretch;
}

.user-menu-image {
    height: 3rem;
    width: 3rem;
    border-radius: 3rem;
    background: radial-gradient(ellipse at bottom, #6b8099 5%, #080606 95%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #696969;
    z-index: 9999
}
#user-image{
    max-height: 2.5rem;
    max-width: 2.5rem;
}

#user-menu-username{
    margin-left: -7px;
    background: radial-gradient(ellipse at bottom, #6b8099 5%, #080606 95%);
    padding-left: 1rem;
    padding-right: 1rem;
    border-top-right-radius:1rem;
    border-bottom-right-radius:1rem;
    border: 3px solid #696969;
    color: #FFFFFF
}

#toast {
    position: fixed;
    display:none;
    top: 20px;
    right: 20px;
    background: #222;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.auth-show{
    text-decoration: none;
    font-size: xx-large;
    color: #FFFFFF;
}

#toast.show {
    opacity: 1;
    display: block;
}

#toast.error {
    background: #e53935;
}

#toast.success {
    background: #43a047;
}
/* Global Styles */

/* Navigation Styles */
.bg-body-tertiary {
    background: radial-gradient(ellipse at bottom, #1b2735 5%, #090a0f 95%);
}
.navbar-brand{
    display: inline-flex;
    align-items: center;
}

.navbar-nav {
    margin: auto;
}
.logo-text {
    font-family: 'brlnsr', sans-serif;
    font-size: xx-large;
    color: #ffffff;
}
.logo-text-p1 {
    color: rgb(32 138 247);
}

.logo-text-p2 {
    color: rgb(168 221 68);
}
.nav-item {
    color: rgb(197, 197, 197);
    font-size: 1.25rem;
    font-weight: bolder;
    text-decoration: none;
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
}
.nav-item:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    background: #1e2b3f;
}
.navbar-collapse {
    justify-content: flex-end;
}

.register-login-btn{
    border-radius: 1rem;
}
.close-session-btn{
    border-radius: 1rem;
}
/* Navigation Styles */

/* Footer Styles */
.footer {
    background: black;
    color: #FFFFFF;
    position: relative;
    overflow: hidden;
    z-index: 5;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    margin-top: auto;
}
.footer-logo {
    max-width: 60%;
}
.footer-item {
    display: table;
    padding: 0.5rem;
    text-decoration: none;
    color: cadetblue;
    font-weight: bold;
}
.footer-copyright {
    text-align: center !important;
}
/* Footer Styles */