.wallet-header{
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 2rem;
	text-align: center;
	background-color: #2e2358;
	max-width: max-content;
	border-radius: 1rem;
	border: 1px solid #7958db;
}
.wallet-title {
	font-size: 2.5rem;
	color: #ebebeb;
	margin-bottom: 0.5rem;
}
.wallet-description {
	font-size: 1.2rem;
	color: #c0c0c0;
	margin-bottom: 0;
}
.wallet-content{
	margin-left: 2rem;
	margin-right: 2rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	padding: 2rem;
	text-align: center;
	border-radius: 1rem;
	border: 1px solid #385766;
}
.wallet-content .table-responsive {
	border-radius: 1rem;
}
.wallet-content .table thead tr th {
	background-color: #121f3d;
	color: #ebebeb;
}

.wallet-content .table tbody tr td {
	background-color: #5482ee7d;
	color: #ebebeb;
}
.wallet-content .table tbody tr:nth-child(odd) td {
	background-color: #1d3772;
	color: #ebebeb;
}
.wallet-content .table tbody tr:hover td {
	background-color: #151e30;
	color: #ebebeb;
}

@media (max-width: 540px) {
	.wallet-content{
		margin-left: 0rem;
		margin-right: 0rem;
	}
}